*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

body{
	background: #eeeff4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    .image{
        padding-top: 6%;
        display: flex;
        justify-content: center;
        width: 50%;
        max-height: 800px;
        object-fit: contain;
        img{
            object-fit: contain;
        }
    }
    .info{
        width: 50%;
        .text {
            flex-direction: column;
            display: flex;
            height: 30%;
            justify-content: center;
            padding: 4%;
            color: slategrey;
        }
        .details{
            padding-top: 8%;
            width: 60%;
            .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
                background-color: unset;
            }
        }
    }
}


@media screen and (max-width: 1024px){
    .container .image{
        width: 100%;
        .img{
            padding-bottom: 0%;
            padding-left: 0%;
        }
        img{
            transform: scale(1);
        }
    }
    .container .info{
        font-size: 16px;
        width: 100%;
        .details{
            width: 100%;
        }
        .actions{
            span{
                margin-left: 3px;
            }
            .select {
                margin-left: 30px;
                width: 20vw;
            }
        }
    }
}
